/code/class#3/Attributes/nbproject/private/
/code/class#3/Attributes/build/
/code/practice 5cycles/ciclos/nbproject/private/
/code/practice 5cycles/ciclos/build/
/code/practice 5cycles/ciclosdos/nbproject/private/
/code/practice 5cycles/ciclosdos/build/
/code/practice#3/nbproject/private/
/code/practice#3/build/
/code/class #7/clase7/nbproject/private/
/code/class #7/clase7/build/
/code/class#8/String.practice/nbproject/private/
/code/class#8/String.practice/build/
/code/class#9/arreglos/nbproject/private/
/code/class#9/arreglos/build/
/code/Clase10/nbproject/private/
/code/Clase10/build/
/code/Clase#11/nbproject/private/
/code/Clase#11/build/
/code/Practice6/nbproject/private/
/code/Practice6/build/
/code/Attributes/nbproject/private/
/code/Matriz2/nbproject/private/
/code/Matriz2/build/
/code/ciclosdos/nbproject/private/
/Examen 1/Freivin.Campbell.examen1/nbproject/private/
/Examen 1/Freivin.Campbell.examen1/build/