/code/class#3/Attributes/nbproject/private/
/code/class#3/Attributes/build/
/code/practice 5cycles/ciclos/nbproject/private/
/code/practice 5cycles/ciclos/build/
/code/practice 5cycles/ciclosdos/nbproject/private/
/code/practice 5cycles/ciclosdos/build/
/code/practice#3/nbproject/private/
/code/practice#3/build/